/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
nav ul li {
  display: inline;
  margin-right: 10px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}
nav ul li a:hover {
  color: #000;
}
main {
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
h1 {
  font-size: 24px;
  color: #000;
}
p {
  font-size: 16px;
  line-height: 1.5;
}
form {
  margin-top: 20px;
}
input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #000;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table th, table td {
  border: 1px solid #333;
  padding: 8px;
  text-align: left;
}
table th {
  background-color: #333;
  color: #fff;
}
/* Dropdown Menu */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
  color: #333;
}
.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Banner Image Styles */
.banner {
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
}
/* Measurement Converter Tool */
input[type="number"], select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}
button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #000;
}
#conversionResult {
  margin-top: 10px;
  font-weight: bold;
}
p {
  font-size: 14px;
  margin-bottom: 10px;
}
hr {
  border: none;
  border-top: 1px solid #333;
  margin: 20px 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-bottom: 10px;
}
a {
  color: #3366CC;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* White Title Class */
.white-title {
  color: #fff; /* Set the text color to white */
}